<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834609933376-7nj0jpfjk8ab4auqa3e0b89686pu9j3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834609933376-7nj0jpfjk8ab4auqa3e0b89686pu9j3b</string>
	<key>API_KEY</key>
	<string>AIzaSyADtwEGL8gLFRgsUQszKtuB-x9p_2l0wNk</string>
	<key>GCM_SENDER_ID</key>
	<string>834609933376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memorydirective.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>memorydirective</string>
	<key>STORAGE_BUCKET</key>
	<string>memorydirective.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834609933376:ios:4041551d81020c8e3a03a5</string>
</dict>
</plist>